<h1>combo Details</h1>
<p>ID: <%= combo.id %></p>
<p>Nome: <%= combo.nome %></p>
<p>Descrição: <%= combo.descricao %></p>
<p>Preço: <%= combo.preco %></p>
<p>Quantidade: <%= combo.quantidade %></p>
<p>Categoria: <%= combo.categoria_nome %></p>
<a href="/combo" class="btn btn-primary">Back to List</a>
