<h1 class="mb-4 text-center">Detalhes do Produto</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="feature-card">
      <p><strong>ID:</strong> <%= produto.id %></p>
      <p><strong>Nome:</strong> <%= produto.nome %></p>
      <p><strong>Descrição:</strong> <%= produto.descricao %></p>
      <p><strong>Preço:</strong> R$ <%= produto.preco %></p>
      <p><strong>Quantidade:</strong> <%= produto.quantidade %></p>
      <p><strong>Categoria:</strong> <%= produto.categoria_nome %></p>

      <a href="/produtos" class="btn btn-dark mt-3">Voltar à Lista</a>
    </div>
  </div>
</div>
